<div *ngIf="!enrollment" class="panel-messages-error text-center">
  <h1>Estimado estudiante, el proceso de matrícula para el periodo actual ha concluido.</h1>
  <p>Por favor esté pendiente a su correo institucional y a nuestros canales oficiales para la nueva etapa de matrícula
    del próximo semestre.
  </p>
</div>

<div *ngIf="!enrollment" class="text-center">
  <img  src="assets/images/components/student/advertising.png" alt="">
</div>

<p-accordion *ngIf="enrollment?.enrollmentState" [activeIndex]="0">
  <p-accordionTab>
    <ng-template pTemplate="header">

    </ng-template>
    <ng-template pTemplate="content">
      <div class="p-fluid grid">
        <p-card *ngFor="let menu of transactionMenus"
                [header]="menu.header"
                class="xl:col-4 lg:col-4 md:col-4 sm:col-12">
          <p class="text-center">
            <img alt="Card" [src]="menu.img"/>
          </p>
          <ng-template pTemplate="footer">
            <p-button *ngIf="menu.enabled" label="Ingresar"
                      icon="pi pi-check"
                      (click)="redirect(menu)"></p-button>
            <p-tag *ngIf="!menu.enabled" severity="danger" value="Solicitud pendiente"></p-tag>
          </ng-template>
        </p-card>
      </div>
    </ng-template>
  </p-accordionTab>
</p-accordion>
