<script src="student-card.component.ts"></script>
<div *ngIf="pdfSrc==='error'" class="panel-messages-error text-center">
  <h1>Estimado estudiante, el proceso de matrícula para el periodo actual ha concluido.</h1>
  <p>Por favor esté pendiente a su correo institucional y a nuestros canales oficiales para la nueva etapa de matrícula
    del próximo semestre.
  </p>
</div>

<div *ngIf="pdfSrc==='error'" class="text-center">
  <img src="/assets/images/components/student/advertising.png" alt="">
</div>

<div *ngIf="pdfSrc && pdfSrc!='error'" class="grid p-fluid">
  <div class="col-5 col-offset-4">
    <p-button
      severity="info"
      label="Descargar"
      [icon]="PrimeIcons.DOWNLOAD"
      iconPos="left"
      (click)="download()"></p-button>
  </div>

  <div class="col-6 col-offset-4">
    <pdf-viewer [src]="pdfSrc"
                [render-text]="true"
                [original-size]="false"
                style="width: 600px; height: 800px">
    </pdf-viewer>
  </div>
</div>

