<app-skeleton *ngIf="coreService.isLoading" [type]="SkeletonEnum.CARD"></app-skeleton>

<p-toolbar *ngIf="!coreService.isLoading">
  <div class="p-toolbar-group-left">
    <app-header-form [id]="id"></app-header-form>
  </div>
  <div class="p-toolbar-group-right">
    <app-form-button-action (submit)="onSubmit()" (cancel)="back()"></app-form-button-action>
  </div>
</p-toolbar>

<p-panel *ngIf="!coreService.isLoading">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="p-fluid grid">
    <div class="field col-12">
      <label appLabel for="roles" label="Roles:" [required]="rolesField"></label>
      <p-multiSelect id="roles"
                     formControlName="roles"
                     dataKey="id"
                     [options]="roles"
                     display="chip"
                     optionLabel="name"
                     placeholder="Seleccione...">
        <ng-template pTemplate="selectedItem">
          <div *ngIf="rolesField.value">
            <div>{{ rolesField.value.name }}</div>
          </div>
        </ng-template>
        <ng-template pTemplate="item" let-item>
          {{ item.name }}
        </ng-template>
      </p-multiSelect>
      <small appErrorMessage
             [errors]="rolesField.errors"
             [touched]="rolesField.touched"
             [dirty]="rolesField.dirty">
      </small>
    </div>
    <div class="field col-12">
      <label appLabel for="institution" label="Institución:" [required]="institutionField"></label>
      <p-dropdown id="institution"
                  formControlName="institution"
                  dataKey="id"
                  [options]="institutions"
                  optionLabel="name"
                  placeholder="Seleccione...">
      </p-dropdown>
      <small appErrorMessage
             [errors]="institutionField.errors"
             [touched]="institutionField.touched"
             [dirty]="institutionField.dirty">
      </small>
    </div>
    <div class="field col-12">
      <label appLabel for="career" label="Carreras:" [required]="careersField"></label>
      <p-multiSelect id="career"
                     formControlName="careers"
                     dataKey="id"
                     display="chip"
                     [options]="careers"
                     optionLabel="name"
                     placeholder="Seleccione...">
      </p-multiSelect>
      <small appErrorMessage
             [errors]="careersField.errors"
             [touched]="careersField.touched"
             [dirty]="careersField.dirty">
      </small>
    </div>

    <div class="field col-12 xl:col-6 lg:col-6 md:col-6 sm:col-12">
      <label appLabel for="identificationType" label="Tipo de Documento:"
             [required]="identificationTypeField"></label>
      <p-dropdown id="identificationType"
                  formControlName="identificationType"
                  dataKey="id"
                  [options]="identificationTypes"
                  optionLabel="name"
                  [filter]="true"
                  filterBy="name"
                  placeholder="Seleccione...">
      </p-dropdown>
      <small appErrorMessage
             [errors]="identificationTypeField.errors"
             [touched]="identificationTypeField.touched"
             [dirty]="identificationTypeField.dirty">
      </small>
    </div>
    <div class="field col-12 xl:col-6 lg:col-6 md:col-6 sm:col-12">
      <label appLabel for="identification" label="Número de Documento:" [required]="identificationField"></label>
      <input pInputText type="text" id="identification" formControlName="identification"/>
      <small appErrorMessage
             [errors]="identificationField.errors"
             [touched]="identificationField.touched"
             [dirty]="identificationField.dirty">
      </small>
    </div>

    <div class="field col-12 xl:col-6 lg:col-6 md:col-6 sm:col-12">
      <label appLabel for="lastname" label="Apellidos:" [required]="lastnameField"></label>
      <input pInputText type="text" id="lastname" formControlName="lastname"/>
      <small appErrorMessage
             [errors]="lastnameField.errors"
             [touched]="lastnameField.touched"
             [dirty]="lastnameField.dirty">
      </small>
    </div>
    <div class="field col-12 xl:col-6 lg:col-6 md:col-6 sm:col-12">
      <label appLabel for="name" label="Nombres:" [required]="nameField"></label>
      <input pInputText type="text" id="name" formControlName="name"/>
      <small appErrorMessage
             [errors]="nameField.errors"
             [touched]="nameField.touched"
             [dirty]="nameField.dirty">
      </small>
    </div>

    <div *ngIf="!id || isChangePassword.value"
         class="field col-12 xl:col-6 lg:col-6 md:col-6 sm:col-12">
      <label appLabel for="password" label="Contraseña:" [required]="passwordField"></label>
      <p-password id="password" formControlName="password" [feedback]="false" [showClear]="true" [toggleMask]="true"/>
      <small appErrorMessage
             [errors]="passwordField.errors"
             [touched]="passwordField.touched"
             [dirty]="passwordField.dirty">
      </small>
    </div>
    <div class="field col-12 xl:col-6 lg:col-6 md:col-6 sm:col-12">
      <label appLabel for="email" label="Correo Electrónico:" [required]="emailField"></label>
      <input pInputText type="email" id="email" formControlName="email"/>
      <small appErrorMessage
             [errors]="emailField.errors"
             [touched]="emailField.touched"
             [dirty]="emailField.dirty">
      </small>
    </div>
    <div *ngIf="id" class="field col-12">
      <label for="isChangePassword" class="mr-4">Cambiar Contraseña:</label>
      <p-inputSwitch id="isChangePassword" [formControl]="isChangePassword"
                     (onChange)="handleChangePassword($event)"></p-inputSwitch>
    </div>
    <div *ngIf="!id || isChangePassword.value" class="field col-12">
      <p-checkbox id="passwordChanged" formControlName="passwordChanged"
                  class="mt-2"
                  [binary]="true"
                  label="Solicitar al usuario que cambie su contraseña cuando inicie sesión"></p-checkbox>
    </div>
  </form>
</p-panel>
