<div class="p-fluid grid mt-2">
  <p-panel class="col-12 xl:col-4 lg:col-4 md:col-7 xl:col-offset-8 lg:col-offset-8 md:col-offset-5">
    <ng-template pTemplate="header">
      <div class="field col-12 text-center">
        <img src="/assets/images/logo/logo-sm.png" alt="">
        <h2 style="color:#0d3c61">{{ authService.system }}</h2>
      </div>
    </ng-template>

    <ng-template pTemplate="content">
      <form [formGroup]="form">
        <div class="field">
          <label for="role" appLabel label="Seleccione un Rol:" [required]="roleField"></label>
          <p-dropdown id="role"
                      formControlName="role"
                      dataKey="id"
                      [options]="roles"
                      optionLabel="name"
                      [filter]="true"
                      filterBy="name"
                      placeholder="Seleccione...">
          </p-dropdown>
          <small appErrorMessage
                 [errors]="roleField.errors"
                 [touched]="roleField.touched"
                 [dirty]="roleField.dirty">
          </small>
        </div>
      </form>
    </ng-template>

    <ng-template pTemplate="footer">
      <div class="field">
        <p-button
          label="Continuar"
          [icon]="PrimeIcons.SIGN_IN"
          (click)="onSubmit()">
        </p-button>
      </div>

      <div class="field">
        <p-button
          label="Regresar al login"
          severity="warning"
          [icon]="PrimeIcons.ARROW_LEFT"
          (click)="routesService.login()"></p-button>
      </div>
    </ng-template>
  </p-panel>
</div>
