<div class="p-fluid grid mt-2">
  <p-panel class="col-12 xl:col-4 lg:col-4 md:col-7 xl:col-offset-8 lg:col-offset-8 md:col-offset-5">
    <div class="field col-12 text-center">
      <img src="/assets/images/logo/logo-sm.png" alt="">
      <h2 style="color:#0d3c61">Programa de Estudio y Centro del Saber</h2>
    </div>

    <ng-template pTemplate="content">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="field">
          <label for="institution" appLabel label="Seleccione su Programa de Estudio:"
                 [required]="institutionField"></label>
          <p-dropdown id="institution"
                      formControlName="institution"
                      dataKey="id"
                      [options]="institutions"
                      optionLabel="name"
                      [filter]="true"
                      filterBy="name"
                      placeholder="Seleccione...">
          </p-dropdown>
          <small appErrorMessage
                 [errors]="institutionField.errors"
                 [touched]="institutionField.touched"
                 [dirty]="institutionField.dirty">
          </small>
        </div>

        <div *ngIf="careers.length===0 && institutionField.touched" class="field">
          <p-message text="No tiene carreras asignadas para esta institución" severity="danger"></p-message>
        </div>
        <div *ngIf="careers.length" class="field">
          <label for="career" appLabel label="Seleccione su Centro del Saber:" [required]="careerField"></label>
          <p-dropdown id="career"
                      formControlName="career"
                      dataKey="id"
                      [options]="careers"
                      optionLabel="name"
                      [filter]="true"
                      filterBy="name"
                      placeholder="Seleccione...">
          </p-dropdown>
          <small appErrorMessage
                 [errors]="careerField.errors"
                 [touched]="careerField.touched"
                 [dirty]="careerField.dirty">
          </small>
        </div>
      </form>
    </ng-template>

    <ng-template pTemplate="footer">
      <div class="field">
        <p-button
          (click)="onSubmit()"
          label="Continuar"
          [icon]="PrimeIcons.SIGN_IN"></p-button>
      </div>

      <div class="field">
        <p-button
          severity="warning"
          label="Regresar al login"
          [icon]="PrimeIcons.ARROW_LEFT"
          (click)="routesService.login()"></p-button>
      </div>
    </ng-template>
  </p-panel>
</div>
