<script src="socioeconomic-pdf.component.ts"></script>
<div *ngIf="pdfSrc==='error'" class="panel-messages-error text-center">
  <h1>Estimado estudiante, el proceso de matrícula para el periodo actual se encuentra DESHABILITADO por el momento</h1>
  <p>Pronto lo retomaremos, estar atento a los comunicados oficiales.</p>
</div>

<div *ngIf="pdfSrc==='error'" class="text-center">
  <img src="/assets/images/components/student/advertising.png" alt="">
</div>

<div *ngIf="pdfSrc && pdfSrc!='error'" class="grid p-fluid">
  <div class="col-6 col-offset-3">
    <p-button
      severity="info"
      label="Descargar"
      [icon]="PrimeIcons.DOWNLOAD"
      iconPos="left"
      (click)="download()"></p-button>
  </div>

  <div class="col-5 col-offset-3">
    <pdf-viewer [src]="pdfSrc"
                [render-text]="true"
                [original-size]="false"
                style="width: 800px; height: 800px">
    </pdf-viewer>
  </div>
</div>

