<div class="container">
  <div class="row">
    <div class="p-panel p-component xl:col-6 lg:col-6 md:col-6 sm:col-12">
      <p-panel header="Sexo (Género)">
        <div class="chart-container">
          <p-chart type="bar" [data]="genderData" [options]="chartOptions"></p-chart>
        </div>
      </p-panel>
    </div>
    <div class="p-panel p-component xl:col-6 lg:col-6 md:col-6 sm:col-12">
      <p-panel header="Etnias">
        <div class="chart-container">
          <p-chart type="bar" [data]="ethnicityData" [options]="chartOptions"></p-chart>
        </div>
      </p-panel>
    </div>
  </div>
  <div class="row">
    <div class="p-panel p-component xl:col-6 lg:col-6 md:col-6 sm:col-12">
      <p-panel header="Edades">
        <div class="chart-container">
          <p-chart type="bar" [data]="ageData" [options]="chartOptions"></p-chart>
        </div>
      </p-panel>
    </div>
    <div class="p-panel p-component xl:col-6 lg:col-6 md:col-6 sm:col-12">
      <p-panel header="Estado Civil">
        <div class="chart-container">
          <p-chart type="doughnut" [data]="civilStatusData" [options]="chartOptions"></p-chart>
        </div>
      </p-panel>
    </div>
  </div>
</div>

